.videos{
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 40px 20px;
    padding-top: 0;
}

.videoCard {
    margin-bottom: 40px;
    width: 270px;
}

.videoCard_thumbnail {
    height: 140px;
    width: 250px;
}

.videos_container {
    display: flex;
    flex-wrap: wrap;
}

.videoCard_info {
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}

.videoCard_text{
    margin-left: 15px;
}

.videoCard_text > h4{
    margin-bottom: 5px;
    font-size: 14px;
}

.videoCard_text > p{
    font-size: 13px;
    color: gray;
}

.videoCard_avatar {
    height: 30px !important;
    width: 30px !important;
}